<?xml version="1.0" encoding="UTF-8"?>
<config>
	<module>
		<enabled>true</enabled>
		<visible>true</visible>
		<category>admin</category>
		<icon>projectcare</icon>
	</module>
	<project>
		<!-- XHTMLFragment properties to exclude from link checks. -->
		<xhtmlfragmentsExcludes>
			<website_page>
				<entry name="content">content</entry>
			</website_page>
			<website_pagereference>
				<entry name="content">content</entry>
			</website_pagereference>
			<website_pagegroup>
				<entry name="content">content</entry>
			</website_pagegroup>
			<website_pageversion>
				<entry name="content">content</entry>
			</website_pageversion>
			<mailbox_message>
				<entry name="content">content</entry>
			</mailbox_message>
			<inquiry_message>
				<entry name="contents">contents</entry>
			</inquiry_message>
			<form_response>
				<entry name="contents">contents</entry>
			</form_response>
			<users_backenduser>
				<entry name="dashboardcontent">dashboardcontent</entry>
			</users_backenduser>
		</xhtmlfragmentsExcludes>
		<urlProperties>
			<website_pageexternal>
				<entry name="url">url</entry>
			</website_pageexternal>
			<bookmarks_bookmark>
				<entry name="url">url</entry>
			</bookmarks_bookmark>
		</urlProperties>
		<bbCodeProperties>
			
		</bbCodeProperties>
		
		<!-- Number of document in one chunk of link checks. -->
		<entry name="checkLinksChunkSize">100</entry>
		<!-- Number of days between two link checks. -->
		<entry name="checkLinksFrequency">15</entry>
		
		<!-- Number of document in one chunk of document in block checks. -->
		<entry name="checkDocumentInBlockChunkSize">100</entry>
		<!-- Number of days between two document in block checks. -->
		<entry name="checkDocumentInBlockFrequency">15</entry>
	</project>

</config>